[submodule "api/stats"]
	path = apps/api/stats
	url = git@github.com:ethn1ee/pi-stats.git
	branch = main

[submodule "homepage"]
	path = apps/homepage
	url = git@github.com:ethn1ee/pi-homepage.git
	branch = main
