grafana:
  enabled: false

alertmanager:
  enabled: false

prometheusOperator:
  enabled: true
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

nodeExporter:
  enabled: true
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"
    - key: "node-role.kubernetes.io/master"
      operator: "Exists"
      effect: "NoSchedule"
  resources:
    requests:
      cpu: 100m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 128Mi

prometheus:
  enabled: true
  prometheusSpec:
    resources:
      requests:
        cpu: 300m
        memory: 512Mi
      limits:
        cpu: 750m
        memory: 1Gi

    storageSpec:
      emptyDir: {}

    serviceMonitorSelector:
      matchLabels: {} # An empty selector matches all ServiceMonitors.

    podMonitorSelector:
      matchLabels: {} # An empty selector matches all PodMonitors.
